.signin__container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f8fa;
  overflow-y: auto;
}

.form__container {
  margin: 1.5em 1rem 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.17rem;
}

.form__wrapper__signup {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.form__wrapper__signup > input {
  font-family: inherit;
  font-size: inherit;
  padding: 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.form__wrapper__signup > button {
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #e40813;
}

.form__wrapper__signup > p {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0.5rem;
}

.form__wrapper__signup > p > a {
  cursor: pointer;
  color: #e40813;
}

.signup__text {
  margin: 1em 0;
  text-align: center;
  font-size: 12px;
}

.signup__text > a {
  color: #e40813;
  cursor: pointer;
}
